{% extends "layout.html" %}
{% block content %}
    <h4>{{title}}</h4>
        <br>
    <form id="addProject" class="add" name="{{title}}" action="{{ type }}?id={{ id }}&edit={{edit}}" method="post">
        {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form-holder">
            <!-- WILL NEED TO GET DIFFERENT TYPES OF FIELDS (Dropdown, paragraph, etc) -->
            {{ form.projectName.label(class="label") }}
            {{ form.projectName(class="field projectName") }}

            {{ form.projectDescription.label(class="label") }}
            {{ form.projectDescription(class="field projectDescription") }}

            {{ form.projectManager.label(class="label") }}
            {{ form.projectManager(class="field projectManager") }}

            {{ form.customerID.label(class="label") }}
            {{ form.customerID(class="field customerID") }}
            </div>
            {{ form.submit(class="") }}
    
    </form>
{% endblock content %}