{% extends "layout.html" %}
{% block content %}
    <h4>Add New Customer</h4>
        <br>
        <form id="addCustomer" class="add" name="{{title}}" action="{{ type }}?id={{ id }}&edit={{edit}}" method="post">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form-holder">
            <!-- WILL NEED TO GET DIFFERENT TYPES OF FIELDS (Dropdown, paragraph, etc) -->
            {{ form.customerName.label(class="label") }}
            {{ form.customerName(class="field customerName") }}

            {{ form.customerLastName.label(class="label") }}
            {{ form.customerLastName(class="field customerLastName") }}

            {{ form.customerPhoneNumber.label(class="label") }}
            {{ form.customerPhoneNumber(class="field CustomerPhoneNumber") }}

            {{ form.customerAddress.label(class="label") }}
            {{ form.customerAddress(class="field customerAddress") }}

            {{ form.customerEmail.label(class="label") }}
            {{ form.customerEmail(class="field CustomerEmail") }}

            {{ form.customerNotes.label(class="label") }}
            {{ form.customerNotes(class="field customerNotes") }}

            </div>
            {{ form.submit(class="") }}
    
    </form>
{% endblock content %}