{% extends "layout.html" %}
{% block content %}
<div class="heading-area">
    <h4>Customers</h4>
    <button onclick="createCustomer()">Create Customer</button>
</div>
<div class="projects">
    <div class="heading-row row">
        <div class="col id">
            ID
        </div>
        <div class="col title">
            First Name
        </div>
        <div class="col date">
            Last Name
        </div>
        <div class="col edit">

        </div>
    </div>
    <!-- PULL INFO FROM DB AND PUT HERE -->
    <!-- LOOP -->
    <div class="content-row row"></div>
    <!--
    End of DB pull -->
</div>

{% endblock content %}