{% extends "layout.html" %}
{% block content %}
        <div class="main">
            <div class="content">
                <div id="logo">
                    <img src="images/image.png" alt="logo">
                    <!-- It doesn't matter either way -->
                    <!--<img src="" alt="logo" >-->
                    <h1>GlitchHunters</h1>
                </div>
                <form id="login" name="login" action="" method="post">
                    <input class="field username" name="username" placeholder="Username" type="text" />
                    <input class="field password" name="password" placeholder="Password" type="password" />
                    <input class="submit" name="submit" type="submit" value="Login" />
                </form>
            </div>
        </div>

{% endblock content %}