{% extends "layout.html" %}
{% block content %}
        <div class="project_detail detail">
                <div class="detail-header">
                        <div class="top">
                                <div class="left">
                                        <h4>{{p.projectName}}</h4>
                                </div>
                                <div class="right">
                                        <h4>{{customerName}}</h4>
                                </div>
                        </div>
                        <div class="bottom">
                                <h4>{{employeeName}}</h4>
                        </div>
                </div>
                <hr>
                <div class="description project-description">
                        <p>{{p.projectDescription}}</p>
                </div>
        </div>
        <div class="bottom-buttons">
                <button onclick="editProject()">Edit</button>
                <button class="delete" onclick="deleteProject()">Delete</button>
        </div>
        <script>
                function editProject(){
                    window.location.replace("add_project?id={{p.projectID}}");
                }
                function deleteProject(){
                        window.location.replace("delete_project?id={{p.projectID}}&delete=1");
                    }
                
        </script>
        

{% endblock content %}