{% extends "layout.html" %}
{% block content %}
        <div class="project_detail detail">
                <div class="detail-header">
                        <div class="top">
                                <div class="left">
                                        <h4>{{p.projectName}}</h4>
                                        <p class="status">({{p.projectStatus}})</p>
                                </div>
                                <div class="right">
                                        <h4>{{p.customerID}}</h4>
                                </div>
                        </div>
                        <div class="bottom">
                                <h4>{{p.projectManager}}</h4>
                        </div>
                </div>
                <hr>
                <div class="description project-description">
                        <p>{{p.projectDescription}}</p>
                </div>
        </div>
        

{% endblock content %}