{% extends "layout.html" %}
{% block content %}
<div class="heading-area">
    <h4>Projects</h4>
    <button onclick="createProject()">Create Project</button>
</div>
<div class="projects">
    <div class="heading-row row">
        <div class="col title">
            Title
        </div>
        <div class="col customer">
            Customer
        </div>
        <div class="col manager">
            Manager
        </div>
        <div class="col status">
            Status
        </div>
    </div>
    <!-- PULL INFO FROM DB AND PUT HERE -->
    {% for item in data %}
        <div class="content-row clickable-row row" data-link="project_detail?id={{item.projectID}}">
            <div class="col title">
                {{item.projectName}}
            </div>
            <div class="col customer">
                {{item.customerID}}
            </div>
            <div class="col manager">
                {{item.projectManager}}
            </div>
            <div class="col status">
                {{item.projectStatus}}
            </div>
        </div>
    {% endfor %}
</div>
<script>
    function createProject(){
        window.location.replace("add_project");
    }
</script>

{% endblock content %}