{% extends "layout.html" %}
{% block content %}
        <div class="ticket_detail detail">
                <div class="detail-header">
                        <div class="top">
                                <div class="left">
                                        <h4>{{t.ticketName}}</h4>
                                        <p class="status">({{t.status}})</p>
                                </div>
                                <div class="right">
                                        <h4>{{projectName}}</h4>
                                </div>
                        </div>
                        <div class="bottom">
                                <h4>{{employeeName}}</h4>
                        </div>
                </div>
                <hr>
                <div class="description ticket-description">
                        <p>{{t.ticketDescription}}</p>
                </div>
        </div>
        

{% endblock content %}