{% extends "layout.html" %}
{% block content %}
<div class="heading-area">
    <h4>Tickets</h4>
    <button onclick="createTicket()">Create Ticket</button>
</div>
<div class="tickets">
    <div class="heading-row row">
        <div class="col title">
            Title
        </div>
        <div class="col project">
            Project
        </div>
        <div class="col assignee">
            Assignee
        </div>
        <div class="col priority">
            Priority
        </div>
        <div class="col status">
            Status
        </div>
        <div class="col edit">
            
        </div>
    </div>
        {% for item in data %}
        <div class="content-row clickable-row row" data-link="ticket_detail?id={{item.ticketID}}">
            <div class="col title">
                {{item.ticketName}}
            </div>
            <div class="col project">
                {{item.projectID}}
            </div>
            <div class="col assignee">
                {{item.employeeID}}
            </div>
            <div class="col priority">
                {{item.priority}}
            </div>
            <div class="col status">
                {{item.status}}
            </div>
        </div>
    {% endfor %}
</div>
<script>
    function createTicket(){
        window.location.replace("add_ticket");
    }
</script>
        
{% endblock content %}