{% extends "layout.html" %}
{% block content %}
        <a href="tickets">Back</a>
        <h4>TICKET ID: {{ id }}</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper urna sit 
        amet nunc semper lacinia. Nunc eget imperdiet orci. Donec a egestas enim. Mauris ut vestibulum 
        odio, nec rhoncus augue. In lacinia efficitur nunc eget suscipit. In dapibus lobortis vulputate. 
        Curabitur vitae orci mauris. Sed id vehicula sem. Donec sollicitudin justo maximus, cursus nunc 
        aliquam, commodo libero. Sed in urna ipsum. Nulla laoreet purus nec ultrices lacinia. Nunc et 
        purus mattis, lobortis orci a, hendrerit dui. Curabitur vitae augue mattis, lacinia sapien vel, 
        aliquam orci. Nullam sit amet gravida ligula.</p>
{% endblock content %}